<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="container">

            <input type="text" placeholder="Enter Username" name="username-input" required>
            <label for="username-input"><b>Username</b></label>

            <input type="password" placeholder="Enter Password" name="password-input" required>
            <label for="password-input"><b>Password</b></label>

            <button type="submit">Login</button>
        </div>
    </form>

</body>
</html>