<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEARCH</title>
</head>
<body>
    <form method="GET" action="{% url 'search' %}">

        <!--{% csrf_token %}-->

        <input type="search" placeholder="search here" name="search-bar">
        <button type="submit">Search</button>
    </form>

    {% block content %}
        {% if searched %}
            <h1>Results for {{ searched }}</h1>
            {% for recipe in recipes %}

            <div id="cookbook-div" style="display:none;">

                <!-- display the existing cook books -->
                <a href="">testing</a>

                <!-- option for adding cookbook -->

                <br>
                <div id="new-book-div" style="display:none;">
                    <form method="POST" action="{% url 'cookbook' %}" id="cookbook-form">

                        {% csrf_token %}

                        <input type="text" name="new-book" id="new-book"><br>
                        <label for="new-book">New Cookbook Title</label>
                        <button type="submit" value="{{ recipe.id }}" name="new-book-recipe">Submit</button>
                    </form>
                </div>
                <button onclick='toggleDivVis(document.getElementById("new-book-div"))'>CREATE COOKBOOK</button>
            </div>

            <button onclick='toggleDivVis(document.getElementById("cookbook-div"))'>add to cookbook</button>
            <script>
                function toggleDivVis(div_block) {
                    if(div_block.style.display === 'none'){
                        div_block.style.display = 'block';
                    } else {
                        div_block.style.display = 'none';
                    }
                }
            </script>


            <form method="POST" action="{% url 'fav_recipe' %}">
                {% csrf_token %}
                <button type="submit" value="{{ recipe.id }}" name="faved" id="fav-button">Favourite</button>
            </form>

            <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.name }}</a><br/><br/>
            {% endfor %}

            {% if recipes.has_previous %}
                <a href="?search-bar={{ searched }}&page=1">&laquo First Page</a>
                <a href="?search-bar={{ searched }}&page={{ recipes.previous_page_number }}">Previous</a>

            {% endif %}

            Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}

            {% if recipes.has_next %}
                <a href="?search-bar={{ searched }}&page={{ recipes.next_page_number }}">Next</a>
                <a href="?search-bar={{ searched }}&page={{ recipes.paginator.num_pages }}">Last &raquo</a>

            {% endif %}

        {% endif %}
    {% endblock %}

</body>
</html>